streamlit
gspread
google-auth
google-api-python-client
google-api-python-client-stubs
google-genai
pydantic
pydantic[email]
pillow
pandas
requests
bcrypt
streamlit-cookies-manager-v2
pyjwt
cryptography